In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
df = pd.read_csv("drug200.csv", encoding='cp1252')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [102]:
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [103]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [104]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [105]:
df = df.dropna()

In [106]:
x = df.drop("Drug", axis=1)
y = df["Drug"]
x.head()

   Age Sex      BP Cholesterol  Na_to_K
0   23   F    HIGH        HIGH   25.355
1   47   M     LOW        HIGH   13.093
2   47   M     LOW        HIGH   10.114
3   28   F  NORMAL        HIGH    7.798
4   61   F     LOW        HIGH   18.043

In [107]:
y.head()

0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
Name: Drug, dtype: object

In [108]:
label_encoder = LabelEncoder()
x["Sex"] = label_encoder.fit_transform(x["Sex"])
#F is 0 and M is 1

In [109]:
x.head()

   Age  Sex      BP Cholesterol  Na_to_K
0   23    0    HIGH        HIGH   25.355
1   47    1     LOW        HIGH   13.093
2   47    1     LOW        HIGH   10.114
3   28    0  NORMAL        HIGH    7.798
4   61    0     LOW        HIGH   18.043

In [110]:
x["BP"] = label_encoder.fit_transform(x["BP"])

In [111]:
x.head()

   Age  Sex  BP Cholesterol  Na_to_K
0   23    0   0        HIGH   25.355
1   47    1   1        HIGH   13.093
2   47    1   1        HIGH   10.114
3   28    0   2        HIGH    7.798
4   61    0   1        HIGH   18.043

In [112]:
x["Cholesterol"] = label_encoder.fit_transform(x["Cholesterol"])

In [113]:
x.head(10)

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043
5   22    0   2            0    8.607
6   49    0   2            0   16.275
7   41    1   1            0   11.037
8   60    1   2            0   15.171
9   43    1   1            1   19.368

In [114]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [115]:
x.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [116]:
y_encoded = label_encoder.fit_transform(y)

In [117]:
y_encoded

array([0, 3, 3, 4, 0, 4, 0, 3, 0, 0, 3, 0, 0, 0, 4, 0, 4, 1, 3, 0, 0, 0,
       0, 0, 0, 0, 0, 4, 0, 0, 4, 2, 4, 0, 4, 4, 1, 4, 4, 4, 0, 2, 0, 4,
       4, 4, 1, 3, 0, 0, 0, 4, 0, 0, 2, 3, 2, 0, 4, 0, 0, 1, 0, 4, 2, 0,
       1, 4, 0, 0, 2, 0, 4, 0, 0, 0, 1, 0, 1, 4, 2, 4, 3, 1, 3, 2, 4, 0,
       0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 1, 1, 3, 4, 0, 4, 4, 0, 2, 0,
       1, 4, 4, 4, 4, 0, 4, 4, 1, 0, 0, 0, 0, 0, 2, 0, 0, 4, 0, 4, 0, 0,
       4, 0, 0, 4, 2, 1, 2, 4, 1, 0, 2, 0, 1, 4, 4, 1, 4, 3, 1, 2, 4, 4,
       0, 3, 1, 0, 3, 4, 4, 2, 4, 0, 0, 0, 0, 4, 0, 1, 4, 4, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 4, 4, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 3, 0, 3, 3, 4,
       4, 4])

In [118]:
xtrain,xtest,ytrain,ytest = train_test_split(x_scaled,y_encoded,test_size=0.2,random_state=12)

In [119]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [120]:
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=x_scaled.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(5, activation='softmax'))

In [121]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [122]:
model.fit(xtrain,ytrain,batch_size=4,epochs=50)

Epoch 1/100
40/40 [==============================] - 1s 4ms/step - loss: 1.0698 - accuracy: 0.5750
Epoch 2/100
40/40 [==============================] - 0s 3ms/step - loss: 0.5534 - accuracy: 0.7937
Epoch 3/100
40/40 [==============================] - 0s 3ms/step - loss: 0.3268 - accuracy: 0.9062
Epoch 4/100
40/40 [==============================] - 0s 3ms/step - loss: 0.1101 - accuracy: 0.9750
Epoch 5/100
40/40 [==============================] - 0s 3ms/step - loss: 0.1026 - accuracy: 0.9812
Epoch 6/100
40/40 [==============================] - 0s 2ms/step - loss: 0.0601 - accuracy: 0.9875
Epoch 7/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0850 - accuracy: 0.9750
Epoch 8/100
40/40 [==============================] - 0s 3ms/step - loss: 0.1505 - accuracy: 0.9563
Epoch 9/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0464 - accuracy: 0.9812
Epoch 10/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0265 - accuracy: 0.9875
Epoch 11/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0538 - accuracy: 0.9812
Epoch 12/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0235 - accuracy: 0.9875
Epoch 13/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0099 - accuracy: 0.9937
Epoch 14/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0132 - accuracy: 0.9937
Epoch 15/100
40/40 [==============================] - 0s 4ms/step - loss: 0.0051 - accuracy: 1.0000
Epoch 16/100
40/40 [==============================] - 0s 3ms/step - loss: 0.0027 - accuracy: 1.0000
Epoch 17/100
40/40 [==============================] - 0s 4ms/step - loss: 0.0012 - accuracy: 1.0000
Epoch 18/100
40/40 [==============================] - 0s 4ms/step - loss: 9.7951e-04 - accuracy: 1.0000
Epoch 19/100
40/40 [==============================] - 0s 5ms/step - loss: 7.8015e-04 - accuracy: 1.0000
Epoch 20/100
40/40 [==============================] - 0s 5ms/step - loss: 6.3398e-04 - accuracy: 1.0000
Epoch 21/100
40/40 [==============================] - 0s 5ms/step - loss: 5.6797e-04 - accuracy: 1.0000
Epoch 22/100
40/40 [==============================] - 0s 5ms/step - loss: 4.7232e-04 - accuracy: 1.0000
Epoch 23/100
40/40 [==============================] - 0s 4ms/step - loss: 4.1373e-04 - accuracy: 1.0000
Epoch 24/100
40/40 [==============================] - 0s 4ms/step - loss: 3.6703e-04 - accuracy: 1.0000
Epoch 25/100
40/40 [==============================] - 0s 4ms/step - loss: 3.2519e-04 - accuracy: 1.0000
Epoch 26/100
40/40 [==============================] - 0s 5ms/step - loss: 2.8919e-04 - accuracy: 1.0000
Epoch 27/100
40/40 [==============================] - 0s 5ms/step - loss: 2.5904e-04 - accuracy: 1.0000
Epoch 28/100
40/40 [==============================] - 0s 5ms/step - loss: 2.3441e-04 - accuracy: 1.0000
Epoch 29/100
40/40 [==============================] - 0s 4ms/step - loss: 2.1495e-04 - accuracy: 1.0000
Epoch 30/100
40/40 [==============================] - 0s 4ms/step - loss: 1.9338e-04 - accuracy: 1.0000
Epoch 31/100
40/40 [==============================] - 0s 5ms/step - loss: 1.7769e-04 - accuracy: 1.0000
Epoch 32/100
40/40 [==============================] - 0s 5ms/step - loss: 1.6378e-04 - accuracy: 1.0000
Epoch 33/100
40/40 [==============================] - 0s 5ms/step - loss: 1.5159e-04 - accuracy: 1.0000
Epoch 34/100
40/40 [==============================] - 0s 5ms/step - loss: 1.3728e-04 - accuracy: 1.0000
Epoch 35/100
40/40 [==============================] - 0s 3ms/step - loss: 1.2421e-04 - accuracy: 1.0000
Epoch 36/100
40/40 [==============================] - 0s 3ms/step - loss: 1.1480e-04 - accuracy: 1.0000
Epoch 37/100
40/40 [==============================] - 0s 4ms/step - loss: 1.0556e-04 - accuracy: 1.0000
Epoch 38/100
40/40 [==============================] - 0s 3ms/step - loss: 9.7734e-05 - accuracy: 1.0000
Epoch 39/100
40/40 [==============================] - 0s 3ms/step - loss: 9.1270e-05 - accuracy: 1.0000
Epoch 40/100
40/40 [==============================] - 0s 3ms/step - loss: 8.3722e-05 - accuracy: 1.0000
Epoch 41/100
40/40 [==============================] - 0s 3ms/step - loss: 7.6381e-05 - accuracy: 1.0000
Epoch 42/100
40/40 [==============================] - 0s 3ms/step - loss: 7.2296e-05 - accuracy: 1.0000
Epoch 43/100
40/40 [==============================] - 0s 3ms/step - loss: 6.7145e-05 - accuracy: 1.0000
Epoch 44/100
40/40 [==============================] - 0s 3ms/step - loss: 6.3733e-05 - accuracy: 1.0000
Epoch 45/100
40/40 [==============================] - 0s 4ms/step - loss: 5.9271e-05 - accuracy: 1.0000
Epoch 46/100
40/40 [==============================] - 0s 3ms/step - loss: 5.5588e-05 - accuracy: 1.0000
Epoch 47/100
40/40 [==============================] - 0s 3ms/step - loss: 5.0197e-05 - accuracy: 1.0000
Epoch 48/100
40/40 [==============================] - 0s 3ms/step - loss: 4.6782e-05 - accuracy: 1.0000
Epoch 49/100
40/40 [==============================] - 0s 3ms/step - loss: 4.2080e-05 - accuracy: 1.0000
Epoch 50/100
40/40 [==============================] - 0s 4ms/step - loss: 3.8823e-05 - accuracy: 1.0000
Epoch 51/100
40/40 [==============================] - 0s 3ms/step - loss: 3.6438e-05 - accuracy: 1.0000
Epoch 52/100
40/40 [==============================] - 0s 3ms/step - loss: 3.3735e-05 - accuracy: 1.0000
Epoch 53/100
40/40 [==============================] - 0s 3ms/step - loss: 3.1773e-05 - accuracy: 1.0000
Epoch 54/100
40/40 [==============================] - 0s 3ms/step - loss: 2.9935e-05 - accuracy: 1.0000
Epoch 55/100
40/40 [==============================] - 0s 3ms/step - loss: 2.8324e-05 - accuracy: 1.0000
Epoch 56/100
40/40 [==============================] - 0s 3ms/step - loss: 2.6275e-05 - accuracy: 1.0000
Epoch 57/100
40/40 [==============================] - 0s 3ms/step - loss: 2.4704e-05 - accuracy: 1.0000
Epoch 58/100
40/40 [==============================] - 0s 3ms/step - loss: 2.3203e-05 - accuracy: 1.0000
Epoch 59/100
40/40 [==============================] - 0s 3ms/step - loss: 2.2264e-05 - accuracy: 1.0000
Epoch 60/100
40/40 [==============================] - 0s 3ms/step - loss: 2.0965e-05 - accuracy: 1.0000
Epoch 61/100
40/40 [==============================] - 0s 3ms/step - loss: 2.0034e-05 - accuracy: 1.0000
Epoch 62/100
40/40 [==============================] - 0s 3ms/step - loss: 1.8996e-05 - accuracy: 1.0000
Epoch 63/100
40/40 [==============================] - 0s 3ms/step - loss: 1.8285e-05 - accuracy: 1.0000
Epoch 64/100
40/40 [==============================] - 0s 3ms/step - loss: 1.7352e-05 - accuracy: 1.0000
Epoch 65/100
40/40 [==============================] - 0s 3ms/step - loss: 1.6515e-05 - accuracy: 1.0000
Epoch 66/100
40/40 [==============================] - 0s 3ms/step - loss: 1.5958e-05 - accuracy: 1.0000
Epoch 67/100
40/40 [==============================] - 0s 3ms/step - loss: 1.5177e-05 - accuracy: 1.0000
Epoch 68/100
40/40 [==============================] - 0s 3ms/step - loss: 1.4445e-05 - accuracy: 1.0000
Epoch 69/100
40/40 [==============================] - 0s 3ms/step - loss: 1.3666e-05 - accuracy: 1.0000
Epoch 70/100
40/40 [==============================] - 0s 3ms/step - loss: 1.3098e-05 - accuracy: 1.0000
Epoch 71/100
40/40 [==============================] - 0s 3ms/step - loss: 1.2598e-05 - accuracy: 1.0000
Epoch 72/100
40/40 [==============================] - 0s 3ms/step - loss: 1.2102e-05 - accuracy: 1.0000
Epoch 73/100
40/40 [==============================] - 0s 3ms/step - loss: 1.1596e-05 - accuracy: 1.0000
Epoch 74/100
40/40 [==============================] - 0s 3ms/step - loss: 1.1025e-05 - accuracy: 1.0000
Epoch 75/100
40/40 [==============================] - 0s 3ms/step - loss: 1.0528e-05 - accuracy: 1.0000
Epoch 76/100
40/40 [==============================] - 0s 3ms/step - loss: 1.0190e-05 - accuracy: 1.0000
Epoch 77/100
40/40 [==============================] - 0s 3ms/step - loss: 9.8142e-06 - accuracy: 1.0000
Epoch 78/100
40/40 [==============================] - 0s 3ms/step - loss: 9.3210e-06 - accuracy: 1.0000
Epoch 79/100
40/40 [==============================] - 0s 3ms/step - loss: 9.0596e-06 - accuracy: 1.0000
Epoch 80/100
40/40 [==============================] - 0s 3ms/step - loss: 8.6827e-06 - accuracy: 1.0000
Epoch 81/100
40/40 [==============================] - 0s 3ms/step - loss: 8.2625e-06 - accuracy: 1.0000
Epoch 82/100
40/40 [==============================] - 0s 3ms/step - loss: 7.9869e-06 - accuracy: 1.0000
Epoch 83/100
40/40 [==============================] - 0s 3ms/step - loss: 7.6517e-06 - accuracy: 1.0000
Epoch 84/100
40/40 [==============================] - 0s 3ms/step - loss: 7.4208e-06 - accuracy: 1.0000
Epoch 85/100
40/40 [==============================] - 0s 3ms/step - loss: 7.0580e-06 - accuracy: 1.0000
Epoch 86/100
40/40 [==============================] - 0s 3ms/step - loss: 6.8278e-06 - accuracy: 1.0000
Epoch 87/100
40/40 [==============================] - 0s 3ms/step - loss: 6.6848e-06 - accuracy: 1.0000
Epoch 88/100
40/40 [==============================] - 0s 3ms/step - loss: 6.2431e-06 - accuracy: 1.0000
Epoch 89/100
40/40 [==============================] - 0s 3ms/step - loss: 6.0300e-06 - accuracy: 1.0000
Epoch 90/100
40/40 [==============================] - 0s 3ms/step - loss: 5.8237e-06 - accuracy: 1.0000
Epoch 91/100
40/40 [==============================] - 0s 3ms/step - loss: 5.5763e-06 - accuracy: 1.0000
Epoch 92/100
40/40 [==============================] - 0s 3ms/step - loss: 5.4214e-06 - accuracy: 1.0000
Epoch 93/100
40/40 [==============================] - 0s 3ms/step - loss: 5.1681e-06 - accuracy: 1.0000
Epoch 94/100
40/40 [==============================] - 0s 3ms/step - loss: 5.0243e-06 - accuracy: 1.0000
Epoch 95/100
40/40 [==============================] - 0s 3ms/step - loss: 4.8209e-06 - accuracy: 1.0000
Epoch 96/100
40/40 [==============================] - 0s 3ms/step - loss: 4.6153e-06 - accuracy: 1.0000
Epoch 97/100
40/40 [==============================] - 0s 3ms/step - loss: 4.4723e-06 - accuracy: 1.0000
Epoch 98/100
40/40 [==============================] - 0s 3ms/step - loss: 4.3300e-06 - accuracy: 1.0000
Epoch 99/100
40/40 [==============================] - 0s 3ms/step - loss: 4.1386e-06 - accuracy: 1.0000
Epoch 100/100
40/40 [==============================] - 0s 3ms/step - loss: 4.0201e-06 - accuracy: 1.0000

In [123]:
print(model.summary())

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                384

 dense_19 (Dense)            (None, 128)               8320

 dense_20 (Dense)            (None, 256)               33024

 dense_21 (Dense)            (None, 128)               32896

 dense_22 (Dense)            (None, 64)                8256

 dense_23 (Dense)            (None, 5)                 325

=================================================================
Total params: 83,205
Trainable params: 83,205
Non-trainable params: 0
_________________________________________________________________
None

In [130]:
random_samples = np.random.randn(5, xtest.shape[1])
random_samples

array([[ 0.85252264,  1.56729273, -0.21655475, -0.69258019, -1.2907097 ],
       [ 0.77672022,  0.91010745, -0.48348459, -0.41126542, -0.66240666],
       [-2.1576052 ,  2.01121341,  0.37112273, -0.79869075,  0.32938702],
       [-1.10399665,  0.74541279, -0.60512356,  1.57035337,  0.80225705],
       [-0.64393993, -1.2945307 , -0.20682594, -0.43462438, -1.61204313]])

In [131]:
predictions = model.predict(random_samples)
predicted_labels = np.argmax(predictions, axis=1)

1/1 [==============================] - 0s 25ms/step

In [132]:
predicted_drugs = label_encoder.inverse_transform(predicted_labels)

In [133]:
print(predicted_drugs)

['drugC' 'drugC' 'DrugY' 'DrugY' 'drugC']