<a href="https://colab.research.google.com/github/YashashviKala20BIT0180/VIT-AI/blob/main/Intern_Day5_19_05_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AI Internship Day 5 19/05/23

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#DataFrame
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5))
print(s1,s2)

0    0.418960
1    0.654722
2    0.331695
3    0.164465
4    0.561343
dtype: float64 0    0.228479
1    0.204786
2    0.369958
3    0.193331
4    0.992979
dtype: float64

In [ ]:
df = pd.DataFrame([s1,s2])
df

          0         1         2         3         4
0  0.418960  0.654722  0.331695  0.164465  0.561343
1  0.228479  0.204786  0.369958  0.193331  0.992979

In [ ]:
df.T

          0         1
0  0.418960  0.228479
1  0.654722  0.204786
2  0.331695  0.369958
3  0.164465  0.193331
4  0.561343  0.992979

In [ ]:
df = df.T

In [ ]:
df

          0         1
0  0.418960  0.228479
1  0.654722  0.204786
2  0.331695  0.369958
3  0.164465  0.193331
4  0.561343  0.992979

In [ ]:
df.columns = ['S1','S2']
df

         S1        S2
0  0.418960  0.228479
1  0.654722  0.204786
2  0.331695  0.369958
3  0.164465  0.193331
4  0.561343  0.992979

In [ ]:
d = {'Name' : ['A','B','C'],
     'Gender' : ['Male','Male','Female']
     }
d

{'Name': ['A', 'B', 'C'], 'Gender': ['Male', 'Male', 'Female']}

In [ ]:
df1 = pd.DataFrame(d)
df1

  Name  Gender
0    A    Male
1    B    Male
2    C  Female

In [ ]:
#Adding Column
df1['org.']=['Google','Amazon','Apple']

In [ ]:
df1

  Name  Gender    org.
0    A    Male  Google
1    B    Male  Amazon
2    C  Female   Apple

In [ ]:
df1['age']=[np.nan,34,56]
df1

  Name  Gender    org.   age
0    A    Male  Google   NaN
1    B    Male  Amazon  34.0
2    C  Female   Apple  56.0

In [ ]:
df1['agee']=[27,34,56]
df1

  Name  Gender    org.   age  agee
0    A    Male  Google   NaN    27
1    B    Male  Amazon  34.0    34
2    C  Female   Apple  56.0    56

In [ ]:
#dropping a column
df1 = df1.drop(['agee'], axis=1)

In [ ]:
df1

  Name  Gender    org.   age
0    A    Male  Google   NaN
1    B    Male  Amazon  34.0
2    C  Female   Apple  56.0

In [ ]:
#location and index
df1.loc[0:2,'Name':'org.']

  Name  Gender    org.
0    A    Male  Google
1    B    Male  Amazon
2    C  Female   Apple

In [ ]:
df1.iloc[1:,2:]

     org.   age
1  Amazon  34.0
2   Apple  56.0

In [ ]:
#Adding a row
df1.loc[3] = ['D','Male','Samsung',42]

In [ ]:
df1

  Name  Gender     org.   age
0    A    Male   Google   NaN
1    B    Male   Amazon  34.0
2    C  Female    Apple  56.0
3    D    Male  Samsung  42.0

In [ ]:
df1=df1.drop([3],axis=0)
df1

  Name  Gender    org.   age
0    A    Male  Google   NaN
1    B    Male  Amazon  34.0
2    C  Female   Apple  56.0

In [ ]:
df1.isnull()

    Name  Gender   org.    age
0  False   False  False   True
1  False   False  False  False
2  False   False  False  False

In [ ]:
df1.isnull().sum()

Name      0
Gender    0
org.      0
age       1
dtype: int64

In [ ]:
type(df1['age'])

pandas.core.series.Series

In [ ]:
df1['age'].dtype

dtype('float64')

In [ ]:
df1['age'].dtype

dtype('float64')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Gender  3 non-null      object
 2   org.    3 non-null      object
 3   age     2 non-null      float64
dtypes: float64(1), object(3)
memory usage: 120.0+ bytes

In [ ]:
df1.describe(include='all')

       Name Gender    org.        age
count     3      3       3   2.000000
unique    3      2       3        NaN
top       A   Male  Google        NaN
freq      1      2       1        NaN
mean    NaN    NaN     NaN  45.000000
std     NaN    NaN     NaN  15.556349
min     NaN    NaN     NaN  34.000000
25%     NaN    NaN     NaN  39.500000
50%     NaN    NaN     NaN  45.000000
75%     NaN    NaN     NaN  50.500000
max     NaN    NaN     NaN  56.000000

In [ ]:
x=[1,2,3]
y=x
y.append(4)
print(x)

[1, 2, 3, 4]

In [ ]:
arr = np.array([1,2,3])
print(arr.dtype)

int64